body{
  background-color: white;
  max-width: 100vw;
  text-align: center;
  overflow-x: hidden;
}

main{
  background-color: rgb(247, 202, 160);
  width: max-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
text-shadow: 5px 5px rgb(51,50,42);
font-weight: bolder;
}

header{
  background-color: salmon;
  height: 300px;
  position: relative;
  text-align: center;
  color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
nav {
  border-top: 2px dotted white;
  background-color: salmon;
  margin-top: 0px;
  position: sticky;
  top: 0%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#navil {
  float: left;
}

#cookietitle {
  display: table;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5%;
  margin-top: 35px;
  padding-top: 0px;
  padding-bottom: 20px;
}

h2 {
  font-size: 50px;
  font-weight: 2000px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 1px 1px rgb(51,50,42);
  border-style: groove;
  border-color: rgb(160,99,66);
  background-color: salmon;
  font-weight: bolder;
  display: table-cell;
  text-align: center;
  width:max-content;
}

#backtohome{
  font-size: 20px;
  font-weight: 2000px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 1px 1px rgb(51,50,42);
  border-style: groove;
  border-color: rgb(160,99,66);
  background-color: rgb(240, 181, 126);
  font-weight: bolder;
  width:max-content;
  display: block;
  text-align: center;
  margin: 5px;
  transition: 500ms;
  margin-left: 40px;
}

#backtohome:hover{
  background-color: salmon;
}

h3 {
  font-size: 40px;
  margin-left: 30px;
  border-style: groove;
  border-color: rgb(160,99,66);
  width: max-content;
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgb(107,83,64);
  text-shadow: 2px 2px rgb(51,50,42);
  font-family: 'Roboto', sans-serif;
}

article {
  border-style: groove;
  border-color: rgb(160,99,66);
  background-color: salmon;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

ul {
  font-family: 'Oswald', sans-serif;
  color: rgb(168,168,143);
  font-size: 30px;
  text-shadow:1px 1px rgb(107,83,64);
}

table {
  margin-top: 10px;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-color: white;
  background-color: salmon;
}

.headerrow{
  font-size: 20px;
  border-style: solid;
  border-color: white;
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.rowstart{
  font-size: 30px;
  border-style: dotted;
  border-color: white;
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;

}

.content{
  font-size: 20px;
  border-style: dashed;
  border-color: white;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow:1px 1px rgb(107,83,64);
}

#addNew {
  display: flex;
  justify-content: center;
}

legend {
  font-size: 30px;
}

fieldset {
  display: flex;
  justify-content: center;
  width:max-content;
  border: none;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-shadow:1px 1px rgb(90, 70, 54);
  background-color: salmon;
}
#frm1 label {
  font-size: 20px;
  color: white(139, 139, 119);
  text-shadow:1px 1px rgb(90, 70, 54);
}
footer{
  position: absolute;
    width:100%;
    height:100px; 
    background:salmon;
    flex-direction: row;
}